# Data cleaning and preprocessing

---

# 1. Importing required libraries

In [1]:
import os
import pandas as pd

---

# 2. Display a sample of the dataset

In [2]:
ticker = "AAPL"
month = "1"

stock = pd.read_csv(f"./TDL_Project_Data/{ticker}_year1_month{month}.csv", index_col=0)

stock.head()

                       open    high     low   close  volume
time
2021-02-22 20:00:00  125.82  125.83  125.80  125.82    9980
2021-02-22 19:59:00  125.83  125.83  125.79  125.79    7433
2021-02-22 19:58:00  125.82  125.83  125.81  125.83    1370
2021-02-22 19:57:00  125.85  125.85  125.80  125.80    5133
2021-02-22 19:56:00  125.85  125.85  125.84  125.84    3717

---

# 3. Separate date and time

In [3]:
stock_index_datetime = pd.to_datetime(stock.index)
stock['year'] = stock_index_datetime.year
stock['month'] = stock_index_datetime.month
stock['day'] = stock_index_datetime.day
stock['hour'] = stock_index_datetime.hour
stock['minute'] = stock_index_datetime.minute
stock.head()

,open,high,low,close,volume,year,month,day,hour,minute
time,,,,,,,,,,
2021-02-22 20:00:00,125.82,125.83,125.80,125.82,9980,2021,2,22,20,0
2021-02-22 19:59:00,125.83,125.83,125.79,125.79,7433,2021,2,22,19,59
2021-02-22 19:58:00,125.82,125.83,125.81,125.83,1370,2021,2,22,19,58
2021-02-22 19:57:00,125.85,125.85,125.80,125.80,5133,2021,2,22,19,57
2021-02-22 19:56:00,125.85,125.85,125.84,125.84,3717,2021,2,22,19,56

---

# 4. Remove rows with NaN values

In [12]:
stock = stock.dropna()
stock.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
year      0
month     0
day       0
hour      0
minute    0
dtype: int64

There are no NaN values in the dataset

---

# 5. Break dataset into contiguous chunks